.forecast-background {
    background-image: url('../clouds-3488632_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
}